doctype doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title landing page
  body
      h1 Mission
      p Our vision is 'Excellence in Health Care’.  Our mission is to ensure that all our clients receive top-quality services at every stage
